body {
  background-color: #fafafa;
}
a:link,
a:visited,
a:hover {
  color: black;
}
#nav a {
  font-weight: bold;
  color: inherit;
}
#nav a.nav-link-active {
  background-color: #212529;
  color: #fff;
}
#nav-border {
  border-bottom: 1px solid #212529;
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
#footer .container {
  padding: 1em 0;
}
#footer a {
  color: inherit;
  text-decoration: underline;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
img,
iframe,
embed,
video,
audio {
  max-width: 100%;
}
H1 a,
H1 a:hover {
  color: black;
}
@media (max-width: 768px) {
  H1 {
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  H1 {
    font-size: 30px;
  }
}

.home-panel {
  background-color: #213123;
  padding: 0px;
  margin-bottom: 30px;
  color: white;
}
.home-panel H3 {
  margin-bottom: 10px;
  height: 30px;
}
.home-panel-content {
  background-color: rgba(16, 0, 0, 0.4);
  padding: 15px 30px 15px 30px;
  text-align: left;
  font-size: 100%;
}
.home-body {
  padding-top: 10px;
  vertical-align: middle;
  min-height: 220px;
  position: relative;
}
.home-lead {
  text-align: justify;
  display: table-cell;
  /*vertical-align: middle;
    min-height: 140px;*/
  vertical-align: top;
}
.blog-lead {
  font-size: 90%;
  color: gray;
  display: table-cell;
  vertical-align: top;
  padding-top: 20px;
}
.blog-item {
  background-color: #fff;
  border: 1px solid #eee;
}
.blog-item-full {
  padding: 30px;
}
.blog-preview-image {
  height: 200px;
}
.blog-image-full {
  height: 400px;
}
.blog-image {
  width: 300px;
}

.home-footer {
  position: absolute;
  height: 80px;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  .home-footer {
    position: relative;
  }
}

.home-icon {
  margin-top: 10px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;

  border: 3px solid;
  border-color: rgba(153, 153, 153, 0.6);
  border-bottom-color: rgba(102, 102, 102, 0.6);
  border-right-color: rgba(102, 102, 102, 0.6);

  margin-right: 10px;
  margin-left: 10px;
}

.home-panel a:link,
.home-panel a:visited {
  color: white;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 512px) {
  .home-panel-content {
    padding: 10px 25px 10px 25px;
    font-size: 90%;
  }
  .container {
    padding-left: 1px;
    padding-right: 1px;
  }
  .header {
    padding-left: 1px;
    padding-right: 1px;
  }
}
.block-image {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.block-text {
  padding: 30px;
}
.block-tag {
  min-height: 76px;
}
.block-404 {
  text-align: center;
  width: 100%;
  height: 400px;
  font-size: x-large;
  padding: 80px;
}
.dropdown-menu {
  max-width: 85px ;
  min-width: 85px ;
}
.bandeira-sm{
  height: 20px;
}