<!doctype html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}" class="h-100">
	<head>
	{{ partial "head.html" . }}
    {{ partial "style.html" . }}
    {{ block "styleextra" . }}{{ end }}
	</head>
  <body class="d-flex flex-column h-100">
    <!-- {{ partial "nav.html" . }}-->
    
    <div class="container">
      <div class="header">
        <H1><a href="/">{{ .Site.Title }}</a></H1>
        <H6>{{ .Site.Params.Hometext }}</H6>
      </div>
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
    {{ block "scriptextra" . }}{{ end }}
    {{ partial "google-analytics-async.html" . }}
  </body>
</html>