{{ define "main" }}
<div class="container">
	<div id="panels" class="grid">		
		{{ with .Site.GetPage "/paginas/blog" }}	
			{{ partial "tituloArea.html" . }}
		{{ end }}
		
		{{ with .Site.GetPage "/tags" }}
			{{ partial "tagsList.html" . }}
		{{ end }}

		{{ $pages := .Pages }}


		{{ range $.Site.Home.Translations }}
			
			{{ $scratch := newScratch }}
			{{if eq  $.Page.Section "tags"}}
				{{ $scratch.Set "merge" (where  (.Site.Taxonomies.tags.Get $.Page.Title).Pages "Section" "blog") }}
			{{ else }}
				{{ $scratch.Set "merge" (where .Site.RegularPages "Section" "blog") }}
			{{end}}
			
			{{ $pages = $pages | lang.Merge  ($scratch.Get "merge" ) }}
			
		{{ end }}
		
	
		{{ range $pages.ByPublishDate.Reverse }}
		
		<div class="grid-item blog-item">
			{{ if isset .Params "image" }}
			<div style="background-image: url({{ .Params.Image }});" class="block-image blog-preview-image">
			</div>
			{{end}}
			<div class="block-text">
				<H3><a href="{{ .Permalink }}">{{ .Title }}</a>
					{{if ne $.Site.Language.Lang .Language.Lang }} 
					<img class="bandeira-sm" src="/images/lang/{{.Language.Lang}}_rnd.png">
				{{end}}
				</H3>
				<div class="block">
			{{ partial "date-and-tags.html" . }}
					<div class="blog-lead">
			{{ .Params.Lead }}
					</div>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}

{{ define "scriptextra" }}
<script src="{{ "/js/masonry.pkgd.min.js" | absURL }}"></script>
<script>
	$('.grid').masonry({
  itemSelector: '.grid-item',
    columnWidth: '.grid-item',
    gutter: 30
});
</script>
{{ end }}


{{ define "styleextra" }}
<style>
	
.grid {
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;

  width: 454px;
  margin-bottom:30px;
}


@media(max-width:998px){
	.grid-item {
		width:390px; 
	}
}
@media(max-width:870px){
	.grid-item {
		width:339px; 
	}
}

@media(max-width:768px){
    .grid-item {
		width:100%; 
	}
}
</style>
{{ end }}