<div class="grid-item block-tag">

{{ $type := "tags" }}
{{ $defaultSite := .DefaultSite }}
{{ $currentSite := .CurrentSite }}


{{ range  $defaultSite.Taxonomies.tags.ByCount }}
  {{ $name := .Name }}
  {{ $count := .Count }}
  

  {{ $scratch := newScratch }}
  {{ $scratch.Set "lang" $defaultSite.Language.Lang }}

  {{ if  $currentSite.GetPage (printf "/%s/%s" $type $name) }}
    {{ $scratch.Set "lang" $currentSite.Language.Lang }}
  {{ end }}

  {{ with $defaultSite.GetPage (printf "/%s/%s" $type $name) }}
    {{ partial "blockTag.html" (dict "Name" $name "Count" $count  "Lang" ( $scratch.Get "lang") ) }}
  {{ end }}
  
{{end}}

</div>