<!DOCTYPE html>
{{ $lang := .Site.Language.Lang | default "en" }}
<html lang="{{ $lang }}" class="h-100">
  <head>
    {{ partial "head.html" . }} 
    {{ partial "style.html" . }} 
    {{ block "styleextra" . }}{{ end }}
  </head>
  <body class="d-flex flex-column h-100">
    <!-- {{ partial "nav.html" . }}-->

    <div class="container">
      <div class="header d-flex justify-content-between">
        <div>
          <H1><a href="/{{ .Site.Language }}/">{{ .Site.Title }}</a></H1>
          <H6>{{ .Site.Params.Hometext }}</H6>
        </div>
      
        <div class="mt-1">
          {{ partial "seletorIdioma.html" .Page }}
        </div>
      </div>
      <main id="main">
        <div
            class="container">
        <div class="col-12">
          <div 
            style="background-image: url('/images/paginas/404.jpg')"
            class="home-panel block-image">
            <div class="home-panel-content">
              <h1>404</h1>
              <div class="home-body block block-404">
                  
              </div>
              <div class="home-lead">
                <a href="/" id="backLink"></a>
              </div>
            </div>
          </div>
        </div>
        </div>
        </main>
      </main>
    </div>
    {{ partial "footer.html" . }} 
    {{ partial "script.html" . }} 
    {{ block "scriptextra" . }}{{ end }} 
    {{ partial "google-analytics-async.html" . }}

    <script>
      var mensagens404=[
        {{range .Site.Params.msg404}}
          { lang: "{{.lang}}",
            msg:  "{{.msg}}",
            voltar: "{{.voltar}}"
          },
        {{end}}
      ];
      $( document ).ready(function() {
        var cookieLang=getCookie("language");
        var msg=null;
        mensagens404.forEach(function(m){
          if(msg==null && m.lang=="{{ .Site.Params.DefaultContentLanguage }}"){
            msg=m;
          }
          if(m.lang===cookieLang){
            msg=m;
          }
        });

        $(".block-404").text(msg.msg);
      
        $("#backLink").text(msg.voltar);
        
    });
    </script>
  </body>
</html>
