{{ define "main" }}


<div>
{{ with .Content }}
<!--  <h1>{{ $.Page.Title }}</h1>
  {{ . }}-->
  <div id="panels">
  {{ range (where $.Pages "Section" "paginas") $.Site.Pages.ByWeight  }}
    <div class="home-panel" style="background-color:{{ .Params.Color}};  background-image:url('{{ .Params.Image}}');">
      <div class="home-panel-content">
        <a href="#" id=""></a>
        <H3>{{ .Params.Icon}} {{.Title}}</H3>
        <div class="home-body block">
            <div class="home-lead">
            {{.Content}}
            {{ with .Params.Partial }}
              {{ partial "ultimosPosts.html" (dict "color" "blue" )}}
            {{ end }}
      </div>
      </div>

      </div>
    </div>

  {{end}}
  </div>
{{ else }}
  <h1>{{ .Site.Title }}</h1>
  <p class="font-125">{{ .Site.Params.homeText | markdownify }}</p>
{{ end }}
</div>



{{ end }}

